*{
    padding: 0;
    margin: 0;
}
.head{
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #5584b3;
    align-items: center;
}
.logo{
    margin-right: 50px;
}
.xx{
    display: flex;
    align-items: center;
}
[aria-hidden = "true"] {
    color: aliceblue;
}
.drop{
    display: none;
}
/*导航栏*/
li{
    margin: 6px 25px;
}
.list{
    font-size: 16px;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    background-color: #eeeeee;
}
/*清除超链接样式*/
li > a:link {
     text-decoration: none;
     color : #434343;
}
/*图片*/
[alt = "tu1"]{
    width: 100%;
}
[alt = "leftnews1"]{
    /*height: 200px;*/
    width: 100%;
}

/*新闻部分*/
.news{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.title{
    font-size: 18px;
    padding: 5px 15px;
}
.title:hover{
    font-size: 18px;
    background-color: #0067b5;
    color: #ffffff;
}
.news-div{
    display: flex;
    flex-direction: row;
}
.leftNews-div{
/*   左 区域划分*/
    background-color: #f2f2f2;
    width: 50%;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.rightNews-div{
    /*右 区域划分*/
    background-color: #f2f2f2;
    width: 50%;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.leftNews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 784px;
    border: #00b0f0;
}
.rightNews{
    width: 33%;
    border: #00b0f0;
}
.l-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.r-top{
    /*margin: 6px 25px;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*新闻的标题的样式*/
.new-title{
    display: block;
    text-decoration: none;
    color : #0067b5;
    margin: 6px 0;
    font-size: 17px;
}
i{
    word-break: break-all;  /*自动换行*/
    text-overflow: ellipsis;
}