*{
    padding: 0;
    margin: 0;
}
.head{
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #5584b3;
    align-items: center;
}
.logo{
    margin-right: 50px;
}
.xx{
    display: flex;
    align-items: center;
}
[aria-hidden = "true"] {
    color: aliceblue;
}
.drop{
    display: none;
}
/*导航栏*/
li{
    margin: 10px 25px;
}
.list{
    font-size: 16px;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    background-color: #eeeeee;
}
/*清除超链接样式*/
li > a:link {
     text-decoration: none;
     color : #434343;
}
/*图片*/
[alt = "tu1"]{
    width: 100%;
}
[alt = "leftnews1"]{
    /*height: 200px;*/
    width: 100%;
}

/*新闻部分*/
.news{
    height: 500px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.title{
    font-size: 18px;
    padding: 5px 15px;
}
.title:hover{
    font-size: 18px;
    background-color: #0067b5;
    color: #ffffff;
}
.news-div{
    display: flex;
    flex-direction: row;
}
.leftNews-div{
/*   左 区域划分*/
    background-color: #f2f2f2;
    width: 50%;
    height: 100%;
    padding-bottom: 20px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.rightNews-div{
    /*右 区域划分*/
    background-color: #f2f2f2;
    width: 50%;
    height: 100%;
    padding-bottom: 20px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.leftNews{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    width: 784px;
    border: #00b0f0;
}
.rightNews{
    width: 33%;
    border: #00b0f0;
}
.l-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.r-top{
    /*margin: 6px 25px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
/*新闻的标题的样式*/
.news-title{
    display: block;
    text-decoration: none;
    color : #0067b5;
    /*margin: 6px 0;*/
    font-size: 17px;
}
.details{
    color: #7d7d7d;
    margin: 0 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.leftNews-div:hover {
    background-color: lightyellow;
    transform: translateY(-2%);
}
.rightNews-div:hover {
    background-color: lightyellow;
    transform: translateY(-2%);
}

.hasNews{
    margin-top: 10px;
    padding-bottom: 20px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wordNews{
    color: #313131;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-time{
    color: #a0a0a0;
    font-size: 14px;
}
/*以上部分是上半部分的新闻的代码，动画加的少一点，待完善*/

/*公告部分*/

.notice-top-top{
/*    想不到什么名字了，后面加的*/
/*    定义下半部分位置居中，。。。*/
    display: flex;
    justify-content: center;
    flex-direction: row;
    /*align-items: center;*/
}
/*后面又加的，框架分析不清晰，吃大亏*/
.notice-left-all{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 66%;
}
.notice-top-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 50%;
}
/*.notice-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}*/
.notice-item-1{
    display: flex;
    flex-direction: row;
}
.notice-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.notice-item-info{
/*    */
    display: flex;
    flex-direction: column;
    max-width: 80%;
}
.notice-details-one{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.notice-time{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.notice-time-1{
    color: #a0a0a0;
    font-size: 14px;
}
.notice-time-2{
    /*display: block;*/
    color: #fff;
    font-size: 24px;
    background-color: #0067b5;
}
.hasNews1{
    margin-top: 10px;
    padding-bottom: 20px;
    /*height: 348px;*/
    display: flex;
    max-width: 55%;
    flex-direction: column;
    justify-content: space-between;
}

/*下面是右下的部分*/
.other-icon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.other-li{
    display: block;
    list-style: none;
    background-color: #0067b5;
    /*color: black;*/
    /*font-size: 50px;*/

}