body{
    margin: 0 auto;
}

.contain{
    margin: auto;
    max-width: 1080px;
    height: 500px;
    padding-top: 100px;
    background:url(img/bg.png) no-repeat 0 -1080px;
}
.title{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.title-font{
    border: 1px solid skyblue;
    border-radius: 2px;
    background-color: antiquewhite;
    margin-bottom: 6px;
    /* width: 400px; */
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    align-content: center;
}
.board{
    padding-left: 20px;
    border-radius: 5px;
    border: 2px solid greenyellow;
    height: 350px;
    width: 720px;
    margin: 0 auto;
    background-color:blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content:center;
    flex-wrap: wrap;
}
#area{
    display: flex;
    flex-direction: row;
}
.address{
    margin-left: 5px;
}
[name = "text"]{
    resize: none;
    width: 631px;
    height: 182px;
}
[alt = "file"]{
    margin: 5px 0;
    width: 636px;
}
[value="扔出去"]{
    margin-left: 279px;
}
[value="关闭"]{
    margin-left: 23px;
}
.bu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
textarea{
    margin-top: 5px;
}