*{
    margin: 0;
    padding: 0;
}
.cont{
    display: flex;
    flex-direction: column;
}
.item-1{
    height: 100px;
    width: 100%;
    background: #9DB783;
}
.item-2-1{
    height: 100px;
    width: 100px;
    background: #5584b3;
}