.cont{
    border: 1px black solid;
    margin: 0 auto;
    width: 1000px;
    background-color: rgb(244, 212, 244);
}
.img{
    display: flex;
    justify-content:center ;
}
img{
    display: block;
    border-radius:5px;
    height: 220px;
    width: 220px;
    margin: 0 5px;
}
img:hover{
    /* transform: scale(1.1); */
    transform: rotateY(360deg);
    transition: ease 0.9s;
}